<div class="col-md-12">
    <app-menu></app-menu>
</div>
<div class="mat-elevation-z8 col-md-11" id="table">
    <table mat-table [dataSource]="dataSource" matSort class="col-md-12">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position" id="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="title" id="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="actor" id="actor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actor </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="release_date" id="release_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="last_updated" id="last_updated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="language" id="language">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="description" id="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> <button mat-button (click)="openDialog()"><mat-icon>description</mat-icon></button></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="download" id="download">
          <th mat-header-cell *matHeaderCellDef> Download </th>
          <td mat-cell *matCellDef="let element"> <button mat-button><mat-icon>get_app</mat-icon></button> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


